.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-image: linear-gradient(#b4b5e5, #17408c);
  color: white;
}

@media (prefers-reduced-motion: no-preference) {
}
